<!-- Footer-->
<div class="row align-items-center">
    <div class="col-lg-4 text-lg-start">
        Copyright © Your Website 2023
    </div>
    <div class="col-lg-4 my-3 my-lg-0">
        <a class="btn btn-light btn-social mx-2" href="mailto:fabien.dariel@gmail.com" aria-label="Twitter"><i class="fas fa-envelope">&nbsp;</i></a>&nbsp;
        <a class="btn btn-light btn-social mx-2" href="https://www.facebook.com/fabien.dariel.7" aria-label="Facebook"><i class="fa-brands fa-facebook-f">&nbsp;</i></a>&nbsp;
        <a class="btn btn-light btn-social mx-2" href="https://www.linkedin.com/in/fabien-dariel-5915903b/" aria-label="LinkedIn"><i class="fa-brands fa-linkedin-in">&nbsp;</i></a>
    </div>
    <div class="col-lg-4 text-lg-end">
        <a class="text-decoration-none me-3" href="/privacy">Privacy Policy</a> <a class="text-decoration-none" href="terms">Terms of Use</a>
    </div>
</div>