<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">
            Welcome To Our Studio!
        </div>
        <div class="masthead-heading text-uppercase">
            It's Nice To Meet You
        </div>
        <p>
            <a class="btn btn-primary btn-xl text-uppercase" href="#services">Tell Me More</a>
        </p>
    </div>
</header>